@font-face {
  font-family: 'Calluna';
  src: url("../fonts/calluna-regular-webfont.eot");
  src: local("☺"), url("../fonts/calluna-regular-webfont.woff") format("woff"), url("../fonts/calluna-regular-webfont.ttf") format("truetype"), url("../fonts/calluna-regular-webfont.svg#webfontb6E8QPlO") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anivers';
  src: url("../fonts/anivers_regular-webfont.eot");
  src: local("☺"), url("../fonts/anivers_regular-webfont.woff") format("woff"), url("../fonts/anivers_regular-webfont.ttf") format("truetype"), url("../fonts/anivers_regular-webfont.svg#webfontYIAkSwqz") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaxBoldRegular';
  src: url("../fonts/max-bold-webfont.eot");
  src: local("☺"), url("../fonts/max-bold-webfont.woff") format("woff"), url("../fonts/max-bold-webfont.ttf") format("truetype"), url("../fonts/max-bold-webfont.svg#webfontLXx4n6Wi") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaxLightRegular';
  src: url("../fonts/max-light-webfont.eot");
  src: local("☺"), url("../fonts/max-light-webfont.woff") format("woff"), url("../fonts/max-light-webfont.ttf") format("truetype"), url("../fonts/max-light-webfont.svg#webfontsXsQEXV3") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:14px sans-serif; *font-size:small; *font:x-small; line-height:1.5em; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#3c8047; }
a{ text-decoration:none; }
a:hover { color:#94cd8c; }
p{ margin: 0 0 1.5em; }
ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }
ul{list-style-type: disc;}
ol{list-style-type: decimal;}
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #9ecc9f; color:#323f32; text-shadow: none; }
::selection { background:#9ecc9f; color:#323f32; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #9ecc9f; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author: Flynn O'Connor, October 2010
 */

/* --- Main Structure styles --- */
html {
	background: url(../img/header-images/top-header.png) center 0 no-repeat;
}

.container {
	width: 960px;
	margin: 0 auto;
	}

.container h1 {
	font-size: 1.3em;
	line-height: 1.5em;
}

.container strong {
	font-size: 2em;
}

body {
	background-image: url(../img/footer/footer-bar.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	overflow: auto;
	font-family:"Calluna", Georgia, serif;
}

.float {
	float: left;
	width: 190px;
}

.gutter30 {
	margin: 0 0 0 30px !important;
}

.gutter60 {
	margin: 0 0 0 60px !important;
}
/* ---- General styles ---- */
ul.special{
	list-style:none;
	padding:0;
	margin:0;
}
ul.special li{
	background:url(../img/bullet-point.png) top left no-repeat;
	padding-left:30px;
}
.btn{
	display:inline-block;
	font-size:1em;
	text-transform:uppercase;
	text-decoration:none;
	color:#2a2e33;
	background:#f2f2f2 url(../img/corners-small-black.gif) left 100% no-repeat;
	font-family: "Anivers", Arial, Verdana, sans-serif;
	padding-left:20px;
	padding-bottom:5px;
}
.btn span{
	display:inline-block;
	padding-right:20px;
	padding-top:5px;
	background:url(../img/corners-small-black.gif) 100% 0 no-repeat;
}
.btn:hover{
	background:#73c277 url(../img/header-images/hover-bg.png) left top repeat-x;
	color:#fff;
	text-shadow:#306639 1px 1px 0;
}
.btn:hover span{
	background:none;
}

.float-right {
	float: right;
	display: block;
}
p a{
	border-bottom:#3C8047 dashed 1px;
}
/* ---- Header styles - INDEX ---- */


#index {
	width: 840px; 
	z-index: 4;
	text-align: center;
	margin: 0 0 55px 170px;
}


#index h1 {
	font-size: 2.29em;
	font-family:"Calluna", Georgia, serif;
	margin: 100px 0 35px;
	line-height:1.2em;
	font-weight:normal;
}
#index h1 strong{
	font-size:1.3em;
	font-weight:normal;
	display:block;
}

#index strong {
	clear: both;
	font-weight: bold;
	font-size: 1.5em;
}


.header-image {
	float: left;
	text-decoration: none;
	margin: 70px 0 0;
}

.header-image h2 {
	font-family: "Anivers", Arial, Verdana, sans-serif;
	text-transform:uppercase;
	font-weight:normal;
	margin: 95px 0 5px;
	color:#2a2e33;
	font-size:1.15em;
}
.header-image:hover h2{
	color:#489956;
}

.header-image h3 {
	font-size:0.9em;
	
	display:inline-block;
	text-transform:uppercase;
	text-decoration:none;
	color:#2a2e33;
	background:#f2f2f2 url(../img/corners-small-black.gif) left 100% no-repeat;
	font-family: "Anivers", Arial, Verdana, sans-serif;
	padding-left:30px;
	padding-bottom:5px;
}
.header-image h3 span{
	display:inline-block;
	padding-right:30px;
	padding-top:7px;
	background:url(../img/corners-small-black.gif) 100% 0 no-repeat;
}

.header-image:hover h3{
	background: url(../img/header-images/hover-bg.png) repeat-x;
	color:#fff;
	text-shadow:#333 1px 1px 0;
}
.header-image:hover h3 span{
	background:none;
}

.brokers {
	position: relative;
	background: url(../img/header-images/forBrokers.png) no-repeat;
	width: 310px;
	height: 204px;
	padding: 102px 155px;	
}

.header-image:hover .brokers {
	background: url(../img/header-images/forBrokers-hover.png) no-repeat;
}

.agents {
	background: url(../img/header-images/forAgents.png) 0 44px no-repeat;  
	padding: 102px 122px
}

.header-image:hover .agents {
	background: url(../img/header-images/forAgents-hover.png) -18px -3px no-repeat;
}

.lenders {
	width: 221px;
	height: 204px;
	background: url(../img/header-images/forLenders.png) 0 51px no-repeat;
	padding: 102px 110px;
}

.header-image:hover .lenders {
	background: url(../img/header-images/forLenders-hover.png) 0 51px no-repeat;

}

/* --- Index Top Section --- */

#home-intro{
	font-size:1.6em;
	text-align:right;
	padding-right:10px;
}
#home-intro span{
	display:block;
	position:relative;
	text-align:right;
}
#home-intro .text-0{
	line-height:1.1em;
}
#home-intro .text-1{
	font-size:0.9em;
	color:#545b66;
	padding-right:20px;
	line-height:1.1em;
}
#home-intro .text-3{
	font-size:0.84em;
	color:#545b66;
	line-height:1.9em;
}
#home-intro .text-2{
	font-size:1.28em;
	padding-top:10px;
	padding-bottom:10px;
}
#home-intro .text-2 strong{
	font-size:1.13em;
	color:#489956;
	font-weight:normal;
}
#home-intro #effective-text{
	font-size:76px;
	background:url(../img/home-effective-text.png) no-repeat;
	height:61px;
	width:272px;
	text-indent:-9999px;
	text-align:left;
	margin-bottom:10px;
}

#showcase{
	margin-bottom:30px;
}
#showcase .video{
	background:url(../img/black-corners.gif) left top no-repeat;
	width:513px;
	float:left;
}
#showcase .video .wrap{
	background:url(../img/black-corners.gif) 100% top no-repeat;
}
#showcase .video img{
	padding:11px;
}
#showcase .shots{
	width:260px;
	float:right;
	padding-left:30px;
}
#showcase .shots ul{
	list-style:none;
	margin:0;
	padding:0;
}
#showcase .shots li{
	float:left;
	width:111px;
	margin-bottom:45px;
}
#showcase .shots li.odd{
	clear:both;
}
#showcase .shots li.even{
	margin-left:30px;
}
#showcase .shots figcaption{
	font-family: "Anivers", Arial, Verdana, sans-serif;
	font-size:0.7em;
	text-transform:uppercase;
	text-align:center;
	display:block;
}

.top-section {
	width: 810px;
	margin: 10px 0 30px 150px;
	overflow: auto;
}

.left-column {
	width: 280px;
	float: left;
	margin-left:45px;
}

.right-column {
	width: 450px;
	float: right;
}

/* --- Index Middle Section --- */

#midsection {
	background-image: url(../img/midsection/midsection-bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 461px;
	width: auto;
	font-size:0.9em;
}

#midsection section {
	width: 960px;
	margin: 0 auto;
	padding:40px 0 0 0;
}
#midsection .btn{
	font-size:1.1em;
	background:#2a2e33 url(../img/corners-small-gray.gif) left 100% no-repeat;
	color:#bcc2cc;
	font-family: "Anivers", Arial, Verdana, sans-serif;
}
#midsection .btn span{
	background:url(../img/corners-small-gray.gif) 100% 0 no-repeat;
}
#midsection .btn:hover{
	background:#545b66;
	color:#fff;
	text-shadow:#333 1px 1px 0;
}

#midsection article {
	width: 260px;
	margin: 30px;
	float: left;
	color:#e4e4e4;
}

#midsection h1{
	color:#97ce8e;
	font-size: 2.29em;
	line-height:1.2em;
	margin-bottom:20px;
}
#midsection h1 strong{
	color:#f2f2f2;
	font-size:1.3em;
	display:block;
	text-transform:lowercase;
	font-weight:normal;
}

/* --- Middle Section Non-index --- */

#midsection .features {
	width: 150px; 
	float: left;	
	margin: 0;
}

#midsection .threecolumn {
	width: 220px;
	float: left;
	margin: 0;
}

#midsection .threecolumn article {
	margin: 0 0 10px 0;
}

#midsection .threecolumn article img {
	margin: auto 0;
	float: left;
}

/* --- Index Bottom Section --- */

.bottom-section {
	width: 760px;
	margin: 10px 0 0 200px;
	overflow: auto;
}

.column {
	width: 218px;
	float: left;
	margin: 0 35px 0 0;
}

/* --- Header Styles - NOT INDEX --- */

.smallHeader {
	background-image: url(../img/header-images/top-icons/bg-lines.jpg);
	background-repeat: no-repeat;
	position: relative;
	left: 280px;
	top: 70px;
	width: 600px;
	overflow: auto;
}

#page-header {
	z-index: 4;
	text-align: center;
	margin: 0 0 100px 65px;
}

hgroup h1 {
	font-size: 1.2em;
	font-family: serif;
	margin: 100px 0 50px;
}

hgroup strong {
	clear: both;
	font-weight: bold;
	font-size: 1.5em;
}


.header {
	float: left;
	text-decoration: none;
	margin: 100px 30px 0 75px;
}

.header h2 {
	font-family: sans-serif;
	margin: 50px 0 5px;
}

.smallBroker {
	background-image: url(../img/header-images/top-icons/3icons-hover.png);
	background-repeat: no-repeat;
	background-position: -91px 20px;
	padding: 44px 42px;
}

a:hover .smallBroker {
	background-image: url(../img/header-images/top-icons/3icons-hover.png);
	background-repeat: no-repeat;
	background-position: -89px -100px;
}

.smallAgents {
	background-image: url(../img/header-images/top-icons/3icons-hover.png);
	background-repeat: no-repeat;
	background-position: 7px 13px;
	padding: 44px 42px;
}

a:hover .smallAgents {
	background: url(../img/header-images/top-icons/3icons-hover.png) 2px -99px no-repeat;
}

.smallLenders {
	background-image: url(../img/header-images/top-icons/3icons-hover.png);
	background-repeat: no-repeat;
	background-position: -185px 16px;
	padding: 44px 42px;
}

a:hover .smallLenders {
	background: url(../img/header-images/top-icons/3icons-hover.png) -179px -94px no-repeat;

}

/* --- Mutli column layouts NOT INDEX --- */

.intro {
	width: 560px;
	margin-bottom: 40px;
}

.download-info {
	background: url(../img/midsection/download-brackets.png) no-repeat #e6e6e6;
	margin: -90px 0 0;
	padding: 15px 67px 13px 66px;
	float: right;
}

.download-info:hover {
	background: url(../img/midsection/download-hover.jpg) repeat-x;
}

.twoColumn {
	width: 450px;
	float: left;
	margin-right: 60px;
}

.twoColumn-right {
	width: 450px;
	float: left;
	margin-right: 0px;
}

.threeColumn {
	width: 280px;
	float: left;
	margin: 0 60px 0 0;
}

.threeColumn-last {
	width: 280px;
	float: left;
	margin: 0 0px 0 0;
}

.floatClear {
	overflow: auto;
	margin: 20px auto;
}

/* ---- Multi Column Type Styles ---- */

.twoColumn h2 {
	font-size: 2.29em;
	line-height:1.2em;
	margin-bottom:20px;
}

.twoColumn h3 {
	font-size: 1.4em;
	line-height:1.8em;
	margin-bottom:20px;
}

.twoColumn-right h2 {
	font-size: 2.29em;
	line-height:1.2em;
	margin-bottom:20px;
}

.twoColumn-right h3 {
	font-size: 1.4em;
	line-height:1.8em;
	margin-bottom:20px;
}

.twoColumn-right h4 {
		color:#97ce8e;
	font-size: 1.0em;
	line-height:1.8em;
	margin-bottom:20px;
} 

.twoColumn-right ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.twoColumn-right ul li {
	padding-bottom: 20px;
}

.twoColumn h4 {
		color:#97ce8e;
	font-size: 1.0em;
	line-height:1.8em;
	margin-bottom:20px;
} 

/* --- Common objections --- */

.objection {
	float: left;
	width: 410px;
	font-size: 1.4em;
	line-height: 1.4em;
}

.arrow {
	float: left;
	padding: 42px 67px 41px ;	
	background-image: url(../img/right-arrow.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.response {
	float: left;
	width: 415px;
	}
	
	.margin20px {
		margin-bottom: 20px;
		overflow: auto;
	}

/* ---- Footer styles ---- */

footer{
	margin: 80px auto 0;	
	height: 220px;
	width: 960px;
}

footer h2 {
	font-size:2.3em;
	margin-left:30px;
	margin-bottom:25px;
}

.footer-logo {
	background: url(../img/footer/footer-logo.jpg) no-repeat;
	position: relative;
	right: -120px;
	top: -70px;
	float: right;
	height: 470px;
	width: 373px;
}


.footer-nav {
	float: left;
	margin: 10px 10px 0 0;
}
.footer-nav a{
	text-decoration:none;
	text-transform:uppercase;
	color:#2a2e33;
	font-size:0.9em;
}
.footer-nav a:hover{
	position:relative;
	left:10px;
	color:#489956;
}

.footer-article {
	float: right;
	margin: 10px 10px 0 0;
	width: 220px;	
	text-align: right;
	font-size: 12px;
}

.design {
	width: 250px;
	position: relative;
	top: 100px;
	left: 310px;
}

footer strong {
	float: right;
	margin: 20px 10px 10px 0; 
	font-size: 1.5em;
	
}

/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

}

